* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
	background-color: antiquewhite;
}
#main {
	padding-top: 4rem;
}
#calculator {
	margin: 0 auto;
	width: 400px;
	background-color: aqua;
	border-radius: 4px;
}
.numbers {
	display: grid;
	grid-template-columns: repeat(4, 90px);
	padding-bottom: 10px;
	gap:5px;
	justify-content: center;
}
.btn-custom {
	width: 90px;
	height: 100px;
	background-color: #fff;
	border-radius: 4px;
	border: none;
}
.btn-custom:hover {
	opacity: 0.7;
}
.btn-custom.danger {
	background-color: red;
	color: #fff;
	margin-bottom: 0;
}
.result {
	display: grid;
	grid-template-columns: 280px 90px;
	gap:5px;
	justify-content: center;
	margin-bottom: 5px;
}
#input {
	width: 280px;
	height: 100px;
	border-radius: 4px;
	background-color: #fff;
	border: none;
	padding: 18px;
	font-size: 16px;
}
.title {
	padding: 10px;
	text-align: center;
	color: #fff;
}
